/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

canvas {
  /* border: 1px solid #ccc; */

  flex: none;
  flex-shrink: unset;
  flex-grow: unset;
}

main {
  position: absolute;
  top: 48px;
  left: 0;

  display: flex;
  /* align-items: normal; */
}